#featured {
    border-radius: 10px;
    padding: 0 20px 10px 20px;
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr;
    gap: 10px;
}

.home-project {
    background-color: var(--bg);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0px;
}

#info img {
    width: 100%;
}

main {
    display: flex;
    gap: 20px;
    padding: 0 20px 0 20px;
    margin-top: 20px;
}

main div {
    flex-grow: 1;
    flex-basis: 0;
}