.css {
    background-color: #2965f1;
}

#featured {
    border-radius: 10px;
    padding: 0 20px 10px 20px;
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr;
    gap: 10px;
}

h3 {
    margin: 2px;
}

.home-project {
    background-color: var(--bg);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#info img {
    width: 100%;
}

.js {
    background-color: #f0db4f;
}

.html {
    background-color: #e34c26;
}

main {
    display: flex;
    gap: 20px;
    padding: 0 20px 0 20px;
    margin-top: 20px;
}

main div {
    flex-grow: 1;
    flex-basis: 0;
}

.php {
    background-color: #8993be;
}

.project-languages {
    display: flex;
    gap: 5px;
}

.project-languages div {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: head;
}

.project-link {
    border-style: none !important;
}

.project-link a {
    color: black;
    text-decoration: none;
    font-family: Helvetica;
}

.project-link a:hover {
    text-decoration: underline;
}

.tbd {
    background-color: gray;
}