:root {
    box-sizing: border-box;
    --bg: mediumseagreen;
    --XL: 32px;
    --L: 24px;
    --M: 20px;
    --S: 16px;
}

body {
    background-color: var(--bg);
    margin: 0;
}

footer {
    margin-top: 64px;
    padding: 0 20px 0 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

footer #right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer #right a {
    flex-grow: 1;
    flex-basis: 0;
    text-decoration: none;
    color: black;
    font-size: var(--S);
    font-family: Helvetica, sans-serif;
}

footer #right a:hover {
    text-decoration: underline;
}

footer #right #footer-contact {
    display: flex;
    gap: 20px;
}

footer #right #links {
    display: flex;
    gap: 20px;
}

h1 {
    font-size: var(--XL);
}

h2 {
    font-size: var(--L);
}

h3 {
    font-size: var(--M);
}

h1, h2, h3 {
    font-family: head;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    padding: 0 20px 0 20px;
}

main {
    padding: 0 20px 0 20px;
    margin-top: 20px;
}

nav {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    display: block;
    padding: 10px;
    color: black;
    font-size: var(--M);
    border-radius: 10px;
    text-decoration: none;
    font-family: Helvetica;
}

p {
    font-family: Helvetica;
    font-size: var(--S);
}